<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.3" />
    <title>Document</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container">
    <img src="/public/images//news/banner.jpg" alt="">
  </section>
  <div class="news-container">
    <ul class="news-list center-layout">
      <li class="news-item">
        <div class="img">
          <img src="/public/images/news/thumb.png" alt="">
        </div>
        <div class="text">
          <div class="infos">
            <h2 class="title">再多的可穿戴产品形式，本质无非PCBA里注入了云计算的灵魂</h2>
          <div class="desc">芯片大咖纵横天下的秘诀，是由能实现场景化的下家给出的</div>
          <div class="date">2021-06-17</div>
          </div>
          <a href="news_view.html" class="more">查看更多 &gt;</a>
        </div>
      </li>
      <li class="news-item">
        <div class="img">
          <img src="/public/images/news/thumb.png" alt="">
        </div>
        <div class="text">
          <div class="infos">
            <h2 class="title">再多的可穿戴产品形式，本质无非PCBA里注入了云计算的灵魂</h2>
          <div class="desc">芯片大咖纵横天下的秘诀，是由能实现场景化的下家给出的</div>
          <div class="date">2021-06-17</div>
          </div>
          <a href="news_view.html" class="more">查看更多 &gt;</a>
        </div>
      </li>
      <li class="news-item">
        <div class="img">
          <img src="/public/images/news/thumb.png" alt="">
        </div>
        <div class="text">
          <div class="infos">
            <h2 class="title">再多的可穿戴产品形式，本质无非PCBA里注入了云计算的灵魂</h2>
          <div class="desc">芯片大咖纵横天下的秘诀，是由能实现场景化的下家给出的</div>
          <div class="date">2021-06-17</div>
          </div>
          <a href="news_view.html" class="more">查看更多 &gt;</a>
        </div>
      </li>
      <li class="news-item">
        <div class="img">
          <img src="/public/images/news/thumb.png" alt="">
        </div>
        <div class="text">
          <div class="infos">
            <h2 class="title">再多的可穿戴产品形式，本质无非PCBA里注入了云计算的灵魂</h2>
          <div class="desc">芯片大咖纵横天下的秘诀，是由能实现场景化的下家给出的</div>
          <div class="date">2021-06-17</div>
          </div>
          <a href="news_view.html" class="more">查看更多 &gt;</a>
        </div>
      </li>
      <li class="news-item">
        <div class="img">
          <img src="/public/images/news/thumb.png" alt="">
        </div>
        <div class="text">
          <div class="infos">
            <h2 class="title">再多的可穿戴产品形式，本质无非PCBA里注入了云计算的灵魂</h2>
          <div class="desc">芯片大咖纵横天下的秘诀，是由能实现场景化的下家给出的</div>
          <div class="date">2021-06-17</div>
          </div>
          <a href="news_view.html" class="more">查看更多 &gt;</a>
        </div>
      </li>
    </ul>
    <div class="pagination-container center-layout">
      <div class="text">共4页，19条内容</div>
      <ul class="pagination-list">
        <li class="pagination-item">
          <a href="">&lt;</a>
        </li>
        <li class="pagination-item">
          <a href="">1</a>
        </li>
        <li class="pagination-item">
          <a href="">2</a>
        </li>
        <li class="pagination-item">
          <a href="">3</a>
        </li>
        <li class="pagination-item">
          <a href="">4</a>
        </li>
        <li class="pagination-item">
          <a href="">&gt;</a>
        </li>
      </ul>
    </div>
  </div>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
