<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
    <div class="banner-container">
      <img src="/public/images/home/banner.jpg" alt="">
      <div class="banner-info">
        <img src="/public/images/home/banner-info.jpg" alt="">
      </div>
    </div>
    <section class="main-container">
      <div class="title-module">
        <div class="title">微克科技</div>
        <div class="desc">智能可穿戴生态赋能创领者</div>
      </div>
      <img src="/public/module/home/home1.jpg" alt="">
      <img src="/public/module/home/home2.jpg" alt="">
      <img src="/public/module/home/home3.jpg" alt="">
      <img src="/public/module/home/home4.jpg" alt="">
      <img src="/public/module/home/home5.jpg" alt="">
      <img src="/public/module/home/home6.jpg" alt="">
      <img src="/public/module/home/home7.jpg" alt="">
      <img src="/public/module/home/home8.jpg" alt="">
      <img src="/public/module/home/home9.jpg" alt="">
    </section>
    <div class="news-container">
      <div class="title-module center-layout">
        <div class="title">最新动态</div>
        <a href="" class="more">更多新闻</a>
      </div>
      <div class="main-news center-layout">
        <div class="swiper-container news-swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="left-layout">
                <img src="/public/images/home/news.jpg" alt="">
              </div>
              <div class="right-layout">
                <div class="title">2021年Q3季度中国年轻人健康状况白皮书</div>
                <div class="desc">健康是指一个人在身体、精神和社会等方面都处于良好的状态。按照世界卫生组织提出的定义是“健康不仅是躯体没有疾病，还要具备心理健康、社会适应良好和有道德”。亚健康是指机体虽无明确的疾病，却呈现出活力降低、适应能力呈不同程度减退的一种非健康非患病的中间状态。</div>
                <a href="" class="more">了解更多</a>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="left-layout">
                <img src="/public/images/home/news.jpg" alt="">
              </div>
              <div class="right-layout">
                <div class="title">2021年Q3季度中国年轻人健康状况白皮书</div>
                <div class="desc">健康是指一个人在身体、精神和社会等方面都处于良好的状态。按照世界卫生组织提出的定义是“健康不仅是躯体没有疾病，还要具备心理健康、社会适应良好和有道德”。亚健康是指机体虽无明确的疾病，却呈现出活力降低、适应能力呈不同程度减退的一种非健康非患病的中间状态。</div>
                <a href="" class="more">了解更多</a>
              </div>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="partner-container">
      <div class="title-module">
        <div class="title">合作单位</div>
      </div>
      <ul class="partner-list center-layout">
        <li class="partner-item">
          <img src="/public/images/home/logo/1.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/2.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/3.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/4.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/5.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/6.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/7.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/8.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/9.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/10.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/11.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/12.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/13.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/14.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/15.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/16.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/17.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/18.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/19.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/20.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/21.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/22.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/23.png" alt="">
        </li>
        <li class="partner-item">
          <img src="/public/images/home/logo/24.png" alt="">
        </li>
      </ul>
    </div>

   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
