<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.3" />
    <title>Document</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
   <section class="banner-container">
     <img src="/public/images/job/banner.jpg" alt="">
   </section>
    <div class="main-content center-layout">
      <ul class="tab-list">
        <li class="tab-item on">产品类</li>
        <li class="tab-item">技术类</li>
        <li class="tab-item">解决方案类</li>
        <li class="tab-item">营销类</li>
        <li class="tab-item">职能类</li>
      </ul>
      <div class="job-container">
        <ul class="job-list">
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
        </ul>
        <ul class="job-list">
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
        </ul>
        <ul class="job-list">
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
        </ul>
        <ul class="job-list">
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
        </ul>
        <ul class="job-list">
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
          <li class="job-item">
            <a href="">
              <img src="/public/images/job/job-item.jpg" alt="">
            </a>
          </li>
        </ul>
      </div>
      <ul class="pagination-list">
        <li class="pagination-item">
          <a href="">&lt;</a>
        </li>
        <li class="pagination-item on">
          <a href="">1</a>
        </li>
        <li class="pagination-item">
          <a href="">&gt;</a>
        </li>
      </ul>
      
    </div>
    <div class="imgs">
      <img src="/public/images/job/job.jpg" alt="">
    </div>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
